* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #303A59;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.container {
    text-align: center;
}

button {
    background-color: #FFB914;
    border: 2px solid #FFB914;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 24px;
    color: #303A59;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 20px rgba(255, 185, 20, 0.6);
}

button:hover {
    background-color: #303A59;
    color: #FFB914;
    box-shadow: 0 0 30px rgba(255, 185, 20, 0.8);
}

button:active {
    transform: scale(0.98);
}

#loading-screen {
    display: none;
    text-align: center;
    position: relative;
}

.loading-bar {
    width: 80%;
    height: 30px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
    margin-top: 50px;
}

.diamond-progress {
    width: 0;
    height: 100%;
    background-color: #53DEBF;
    border-radius: 10px;
    box-shadow: 0 0 10px #53DEBF;
}

.diamond {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    left: 0;
    animation: moveDiamond 5s linear forwards;
    transition: left 0.2s ease;
}

#loadingButton {
    background-color: #53DEBF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: 0 0 15px rgba(83, 222, 191, 0.8);
    animation: glowing 1.5s infinite alternate;
}

#loadingButton:hover {
    background-color: #47B79A;
}

.blue-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('blue_particles.png') repeat;
    animation: particleFall 1s linear infinite;
    z-index: -1; /* Placer l'effet en arrière-plan */
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 15px rgba(83, 222, 191, 0.8);
    }
    100% {
        box-shadow: 0 0 25px rgba(83, 222, 191, 1);
    }
}

@keyframes moveDiamond {
    100% {
        left: 100%;
    }
}

@keyframes particleFall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
